/* html settings */

* {
    margin: 0;
    padding: 0;
    font-family: 'e-ukraine-regular';
}

html {
    background-color: #1a1a1a;
}

/* links */

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

a::after {
    text-decoration: none;
    color: none;
}

/* scrollbar */

::-webkit-scrollbar {
    display: none;
    margin: 60px;
    position: fixed;
    top: 60px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 50px;
    margin: 0 auto;
    width: 10px;
}


/* main style */

.screen {
    background: rgb(26,26,26);
    background: linear-gradient(170deg, rgba(26,26,26,1) 22%, rgba(42,42,42,1) 53%, rgba(94,2,148,1) 100%);
    display: grid;
    place-items: center;
    height: 100dvh;
}

.container {
    min-width: auto;
    max-width: 920px;
    width: calc(100% - 30px);
    padding: 10px 5px 10px 5px;
    display: grid;
}

.header {
    font-size: 32px;
    margin-bottom: 15px;
}

.content {
    font-size: 14px;
    min-width: 140px;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

.whoim {
    padding: 80px;
    color: transparent;
    background: linear-gradient(139deg, rgba(212,112,155,1) 0%, rgba(148,187,233,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

#who {
    font-size: 40px;
}

.whoTitle {
    font-size: 30px;
    margin-top: 15px;
}

.links {
    position: relative;
    font-size: 24px;
    color: #e499ff;
    padding-left: 32px;
    opacity: 0.75;
}

.links:hover {
    opacity: 1;
}

.links::after {
    content: '';
    position: absolute;
    top: 2px; left: 0;
    width: 24px;
    height: 24px;
    background: #e499ff;
    mask-size: cover;
    -webkit-mask-size: cover;
}

.links.github::after {
    mask-image: url(/res/icons/github-mark/github-mark.svg);
    -webkit-mask-image: url(/res/icons/github-mark/github-mark.svg);
}
